<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.myblogtest3.dao.IBlogDao">

	<insert id="insert" parameterType="blog"
		useGeneratedKeys="true" keyProperty="id">
		insert into t_blog(title, content) values(#{title}, #{content})
	</insert>
	
	<select id="get" parameterType="int" resultType="blog">
		select * from t_blog where id=#{id}
	</select>
	
	<select id="list" resultType="blog">
		select * from t_blog
	</select>
	
	<delete id="delete" parameterType="int">
		delete from t_blog
		where id=#{id}
	</delete>
	
</mapper>